

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero img {
  border-radius: 0;
}

aside.right{
  text-align: center;
  float: inherit;
}

.button{
  text-align: center;
  float: inherit;
}